i[class^="icon-"],
i[class*="icon-"] {
  display: inline-block;
  /* position: relative; */
}

i {
  width: 1em;
  height: 1em;
}

i[class^="icon-"]::before,
i[class*="icon-"]::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: currentColor;
}

i.icon-copy::before {
  mask: url("../assets/copy.svg") no-repeat center / contain;
  -webkit-mask: url("../assets/copy.svg") no-repeat center / contain;
}

i.icon-ok::before {
  mask: url("../assets/ok.svg") no-repeat center / contain;
  -webkit-mask: url("../assets/ok.svg") no-repeat center / contain;
}

i.icon-upload::before {
  mask: url("../assets/upload.svg") no-repeat center / contain;
  -webkit-mask: url("../assets/upload.svg") no-repeat center / contain;
}

i.icon-upload-mini::before {
  mask: url("../assets/upload-mini.svg") no-repeat center / contain;
  -webkit-mask: url("../assets/upload-mini.svg") no-repeat center / contain;
}

i.icon-close::before {
  mask: url("../assets/close.svg") no-repeat center / contain;
  -webkit-mask: url("../assets/close.svg") no-repeat center / contain;
}

i.icon-arrow-down::before {
  mask: url("../assets/arrow-down.svg") no-repeat center / contain;
  -webkit-mask: url("../assets/arrow-down.svg") no-repeat center / contain;
}

i.icon-arrow-up::before {
  mask: url("../assets/arrow-up.svg") no-repeat center / contain;
  -webkit-mask: url("../assets/arrow-up.svg") no-repeat center / contain;
}
