.chat-gpt-page {
  height: 100vh;

  > .chat-gpt-main {
    box-sizing: border-box;
    height: calc(100vh - 100px);
    margin-bottom: 100px;
    .messages {
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      > .chat-message {
        margin-bottom: 20px;
      }
    }
  }

  > .bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: #f7f7f7;
    padding: 20px;
    display: flex;
    align-items: center;
    > textarea {
      min-height: 60px;
      border-radius: 10px;
      box-sizing: border-box;
      width: 700px;
      background-color: #fff;
      padding: 5px;
      word-wrap: break-all;
      white-space: pre-line;
    }
    > .at-icon-message {
      margin-left: 20px;
    }
  }
}
